<!DOCTYPE>
<html>
<head>	
	<title>Componentes Vue</title>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">		
		<h1>Lets hear some stories</h1>

		<div>
				
				<ul class="list-group">
					<!-- <li v-for="story in storiesBy('Alex')" class="list-group-item">
						{{ story.writer }} said {{ story.plot }}
					</li> -->
					<story v-for="story in stories" 
								:story="story"
								:favorite="favorite"
								@update="updateFavorite">
						
					</story>
				</ul>

		</div>        
        
        

		<!-- displays all data within Vue instance filtered through JSON -->
    	<pre>{{ $data }}</pre>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>

<template id="story-template">
	<li class="list-group-item">
		{{ story.writer }} said "{{ story.plot }}".
		Story upvotes {{ story.upvotes }}
		<button v-show="!story.voted" @click="upvote" class="btn btn-default">Upvote</button>
		<button v-show="!isFavorite" @click="setFavorite" class="btn btn-primary">Favorite</button>
		<span v-show="isFavorite" class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
	</li>
</template>
<script>
	Vue.component('story', {
		props: ['story', 'favorite'],
		template: '#story-template',
		methods: {
			upvote: function(){
				this.story.upvotes += 1;
				this.story.voted = true;
			},
			setFavorite: function(){
				this.$emit('update', this.story);
			},			
		},
		computed: {
			isFavorite: function(){
				return this.story == this.favorite;
			}
		}
	});

	var data = {
		stories: [
			{
				plot: "I crashed my car today",
				writer: "Alex",
				upvotes: 20,
				voted: false,
			},
			{
				plot: "Yesterday, someone stole my bag",
				writer: "John",
				upvotes: 30,
				voted: false,
			},
			{
				plot: "Someone ate my chocolate",
				writer: "Alex",
				upvotes: 51,
				voted: false,
			},
			{
				plot: "Yeshua is good all the time",
				writer: "John",
				upvotes: 50,
				voted: false,
			},
			
		],
		query: '',
		favorite: {}
	};
	new Vue({
		el: '.container',
		data: data,
		methods: {
			storiesBy: function(writer) {
				return this.stories.filter(function (story) {
					return story.writer === writer;
				})
			},
			updateFavorite: function(story) {
				this.favorite = story;
			}
		},
		computed: {
			famous: function() {
				return this.stories.filter(function(item) {
					return item.upvotes > 25;
				})
			},
			search: function() {
				var query = this.query;
				return this.stories.filter(function (story) {
					return story.plot.includes(query);
				})
			}
		},

		
	})
</script>

</html>